<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Broneeri aeg</title>
    </head>
    <body>
        <form method="post" action="/broneering">

            <label for="name">Nimi</label>
            <input type="text" name="name" id="name" />

            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" />

            <label for="t1">t1</label>
            <input type="radio" name="type" value="" id="t1" />

            <label for="t2">t2</label>
            <input type="radio" name="type" value="" id="t1" />

            <button type="submit">Broneeri</button>
        </form>
        <script src="/javascripts/broneering.js"></script>
        <!-- <script src="https://unpkg.com/htmx.org@1.9.5"></script> incase we're gonna use htmx -->
    </body>
</html>
